body{
   
    font-family: outfit, sans-serif;

.section1{
    position: relative;
    height: 92px;
    padding: 20px 0px 0px;
    pointer-events: none;
    position: relative;
    .nav{
        position: absolute;
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
        img{
    
        } 
        // .nav-btn{
        //     border: 1px solid white;
        //     background-color: white;
        //     font-size: 17px;
        //     padding: 3px 35px;
        //     border-radius: 8px;
        //     transition: 200ms;
        //     pointer-events:auto ;
        // }
        // .nav-btn:hover{
        //     background: none;
        //     color: white;
        //     transition: 300ms;
        //     pointer-events:auto ;
        // }

        .nav-btn {
            border: 1px solid white;
            background-color: white;
            font-size: 17px;
            padding: 15px 62px;
            border-radius: 8px;
            transition: 200ms;
            pointer-events: auto;
            text-decoration: none; 
            color: black; 
          }
          
          .nav-btn:hover {
            background: none;
            color: white;
            transition: 300ms;
            pointer-events: auto;
          }
          
          
          .nav-btn-wrapper {
            text-decoration: none;
          }
          





    }
}
.section2 {
    display: flex;
width: fit-content;
margin: 0 100px;
    height: 471.4px;
    padding: 120px 0;
    font-family: sora, sans-serif;
    position: relative;



.leftchild {
    margin-right: 40px;
    padding: 50px 0;
    text-align: left;
}

.leftchild span {
    font-size: 18px;
    display: inline-block;
    text-align: left;
    background: -webkit-linear-gradient(45deg, #ed8a21, #4500d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    overflow-wrap: break-word;
    margin-bottom: 15px;
    
}

.leftchild p {
    font-size: 18px;
    color: #EEE5FF ;
    margin : 5px 0 0 0;
    text-align: left;
    
}

/* Styles for the right child */
.rightchild{
    margin-top: -31px;
    margin-left: 98px;

}

.rightchild h1 {
    color: #EEE5FF;
    margin: 0px 10px 15px 0px;
    font-family: "Sora", Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: 500;
   line-height: 1.1;
    text-transform: initial;
    overflow-wrap: break-word;
    margin-block-start: 0.83em;
    margin-block-end: 0.1em;
    display: block;
    text-align: start;
    
}

.rightchild span {
        
    font-size: 65px;
    display: block;
    padding: 0px 0px 30px;
    background: -webkit-linear-gradient(45deg, #ed8a21, #4500d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* width: 479.64px; */
    /* height: 65px; */
    text-align: left;
    font-weight: bolder;

}

.rightchild p {
    font-size: 18px;
    color: #EEE5FFBD; 
    max-width: 600px;
    margin: 0px 15px 0px 0px;
    
    font-family:Outfit, sans-serif;
}
}
.section3 {
    
  position: relative;
    
h2{
        font-size: 18px;
    color: white; /* Matching color for consistency */
    margin: 5px 0 0 0;
    }
.section3-rating{
    justify-content: space-between;
    display: flex;
    margin: auto;
    width: 93%;
    padding: 47px 0;
.section3-rating1{
    justify-content:space-between;
    display: flex;
    .rating-star{
        display: inline;
            margin: 0px -15px 0px 10px;
            .star img{
                margin-top: 15px;
            }
        p{
            font-size: 18px;
            color: #EEE5FF; 
            margin: 15px 0 0 0px;
        }
    }
}
.section3-rating2{
    justify-content:space-between;
    display: flex;  
    .rating-star{
        display: inline;
        margin: 0px -15px 0px 10px;
        .star img{
            margin-top: 15px;
        }
        p{
            font-size: 18px;
            color: #EEE5FF;
            margin: 15px 0 0 0px;
        }
    }
}
.section3-rating3{
    justify-content:space-between;
    display: flex; 
    .rating-star{
        display: inline;
        margin: 0px -15px 0px 10px;
        margin-bottom: 20px;
        .star img{
            margin-top: 15px;
        }
p{
    font-size: 22px;
    color: white; 
    margin: 15px 0 0 0px;
}
    }
}




}
}
.section4 {
    padding: 100px 100px 0px;
    justify-content: space-between;
    display: flex;
    position: relative;
  }
  
  .section4-leftchild {
    padding: 10px;
    justify-content: left;
    margin-right: 0px;
    width: 60%;
  }
  
  .section4-leftchild .content {
   
    padding: 0px 0px 20px 0px;
  }
  
  .section4-leftchild .content h2 {
    color: #EEE5FF;
    margin: 0px 65px 10px 0px;
    font-family: "Sora", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    
    text-align: left;
  }
  
  .section4-leftchild .content p {
    margin: 10px 0px 0px;
    font-size: 18px;
    font-family: Outfit, sans-serif;
    color: #EEE5FF;
    text-align: left;
  }
  
  .btn {
    font-family: "Sora", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: transparent;
    background-image: linear-gradient(90deg, #5E11FF 30%, #F87516 100%);
    border-radius: 20px;
    padding: 20px 35px;
    pointer-events: auto;
    text-align: left;
    align-items: flex-start;
    display: flex;
    cursor: pointer;
    color: #EEE5FF;

    .arrow{
        padding: 0px 0px 0px 10px ;
      }
  }
 
  
  .section4-rightchild {
    padding: 10px;
    width: 40%;
   display: flex;
   justify-content: right;
  }
  
  .section4-rightchild img {
    
  }
  

.section5{
    padding: 100px 0;
    position: relative;
    width: 100%;
    h2{
        color: #eee5ff;
        font-family: Sora, Sans-serif;
        font-size: 35px;
        font-style: inherit;
        font-weight: 500;
        line-height: 1;
        margin: auto;
        overflow-wrap: break-word;
        width: 522px;
    

    }

.sec5-component {
    display: flex;
    gap: 10px;
    justify-content: center;
    
    width: 80%;
    margin: 50px auto 0;   
}

.apply-section{
    margin: 10px 10px 120px 10px;
    padding: 30px;
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.062745098);
    border: 2px solid;
}

.apply-page {
    margin: 10px 10px 120px 10px;
    padding: 30px;
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    color: #ffffff;
    border-color: #FFFFFF10;
    border: 2px solid;
}

.section-content {
    text-align: left;
}

.title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.description {
    font-size: 0.9em;
}
.section-img-container{
margin: 30px 0px 0px 0px;
img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}
}

.page-img-container{
    margin: 30px 0px 0px 0px;
    vertical-align: middle;
    display: inline-block;
    img{
        height: auto;
        max-width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;
        
    }   
}
}

.section6{
    position: relative;
    .sec6-container{
        padding: 50px 30px 50px 30px;
        margin: 150px auto 0;
       color: white;
        font: 16px;
        width: 90%;
        background-color: transparent;
        background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
        border-radius: 20px 20px 20px 20px;
        border-color: #FFFFFF10;
        border: 2px solid;
    h2{
        font-size: 25px;
        font-family: "sona",sans-serif;
    }
    .description{
        p {
           color: #EEE5FFBD;
           font-size: 18px;
           font-family: "outfit", sans-serif;
        }
    }
        
    } 
}
.section7{
  padding: 10px;   
  color: #6f6f6f;
  overflow: hidden;
  padding: 100px 0px 100px 0px;
  text-align: left;
  position: relative;
  .sec7-upper-content{

h2{
    text-align: center;
    color: #EEE5FF;
}

    p{
        color: #EEE5FFBD;
    font-family: "Outfit", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0px 260px 0px 260px;
    text-align: center;
    }
  }

  .sec7-lower-content{
 width:90%;

 padding: 50px 30px 0px 50px;
 display: flex;
 margin-right: auto;
 margin-left: auto;
 position: relative;
   
.card1, .card2, .card3{
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
    width: 399.9px;
    border-radius: 20px 20px 20px 20px;
         border-color: #FFFFFF10;
         border: 2px solid;
    margin: 10px 10px 10px 10px;
    align-content: flex-start;
    padding: 13px 18px;
        img{
            
            height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
    justify-content: left;

        }

        .card1-ctn, .card2-ctn, .card3-ctn{


            h2{
                font-size: 25px;
                margin: 0px 0px 10px;
                color: #EEE5FF;
            }

        }
    }
  }
}

.section8{
   
    background-color: transparent;
    background-image: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
    height: 52.4px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .footer-right{
        ul{
            display: flex;
    gap: 30px;
    padding: 0px 0;
    margin-right: 25px;
            li{
                color: white;
                a{
                    font-size: 14px;
                    color: white;
                    text-decoration: none;
                    pointer-events:auto ;
                }
                list-style: none;
            }
        }
    }
    
.footer-left{
    position: relative;
    width: 40%;
    justify-content: left;
    display: flex;
    padding: 0 10px;
    
    min-height: 1px;
   
    p{
        color: #ffffff;
    align-content: center;
    align-items: center;
}


}
}}
@media (max-width: 768px){
    body .section2 .rightchild h1 {
        
        font-size: 37px;
       
}
body .section2 {
   
    margin: 0px 30px;
    padding: 70px 0;

}
body .section2 .leftchild {
    margin-right: 0px;
    padding: 0px 0;
    width: 28%;
}

body .section2 .rightchild span {
  
    font-size: 37px;
    
    padding: 0 0 15px;
    
}
}
@media (max-width: 500px){

}