body {
  font-family: outfit, sans-serif;
}
body .section1 {
  position: relative;
  height: 92px;
  padding: 20px 0px 0px;
  pointer-events: none;
}
body .section1 .nav {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  /* Ensure the anchor tag has no default styling that might interfere */
}
body .section1 .nav .nav-btn {
  border: 1px solid white;
  background-color: white;
  font-size: 17px;
  padding: 15px 62px;
  border-radius: 8px;
  transition: 200ms;
  pointer-events: auto;
  text-decoration: none; /* Remove underline from link */
  color: black; /* Set default text color */
}
body .section1 .nav .nav-btn:hover {
  background: none;
  color: white;
  transition: 300ms;
  pointer-events: auto;
}
body .section1 .nav .nav-btn-wrapper {
  text-decoration: none;
}
body .section2 {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 100px;
  height: 471.4px; /* Specific height */
  padding: 120px 0; /* Padding */
  font-family: sora, sans-serif;
  /* Styles for the left child */
  /* Styles for the right child */
}
body .section2 .leftchild {
  margin-right: 40px;
  padding: 50px 0;
  text-align: left;
}
body .section2 .leftchild span {
  font-size: 18px;
  display: inline-block;
  text-align: left;
  background: -webkit-linear-gradient(45deg, #ed8a21, #4500d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  overflow-wrap: break-word;
  margin-bottom: 15px;
}
body .section2 .leftchild p {
  font-size: 18px;
  color: white; /* Matching color for consistency */
  margin: 5px 0 0 0;
  text-align: left;
}
body .section2 .rightchild {
  margin-top: -31px;
  margin-left: 98px;
  padding: 0px 367px 0px 175px;
}
body .section2 .rightchild h1 {
  color: #EEE5FF;
  margin: 0px 10px 15px 0px;
  font-family: "Sora", Arial, Helvetica, sans-serif;
  font-size: 65px;
  font-weight: 500;
  line-height: 85px;
  text-transform: initial;
  overflow-wrap: break-word;
  margin-block-start: 0.83em;
  margin-block-end: 0.1em;
  display: block;
  text-align: start;
}
body .section2 .rightchild span {
  font-size: 65px;
  display: block;
  padding: 0px 0px 30px;
  background: -webkit-linear-gradient(45deg, #ed8a21, #4500d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: 479.64px; */
  /* height: 65px; */
  text-align: left;
  font-weight: bolder;
}
body .section2 .rightchild p {
  font-size: 18px;
  color: rgba(238, 229, 255, 0.7411764706);
  max-width: 600px;
  margin: 0px 15px 0px 0px;
  font-family: Outfit, sans-serif;
}
body .section3 {
  display: contents;
  justify-content: center;
}
body .section3 h2 {
  font-size: 18px;
  color: white; /* Matching color for consistency */
  margin: 5px 0 0 0;
}
body .section3 .section3-rating {
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 80%;
  padding: 47px 0;
}
body .section3 .section3-rating .section3-rating1 {
  justify-content: space-between;
  display: flex;
}
body .section3 .section3-rating .section3-rating1 .rating-star {
  display: inline;
  margin: 0px -15px 0px 10px;
}
body .section3 .section3-rating .section3-rating1 .rating-star .star img {
  margin-top: 15px;
}
body .section3 .section3-rating .section3-rating1 .rating-star p {
  font-size: 18px;
  color: #EEE5FF;
  margin: 15px 0 0 0px;
}
body .section3 .section3-rating .section3-rating2 {
  justify-content: space-between;
  display: flex;
}
body .section3 .section3-rating .section3-rating2 .rating-star {
  display: inline;
  margin: 0px -15px 0px 10px;
}
body .section3 .section3-rating .section3-rating2 .rating-star .star img {
  margin-top: 15px;
}
body .section3 .section3-rating .section3-rating2 .rating-star p {
  font-size: 18px;
  color: #EEE5FF;
  margin: 15px 0 0 0px;
}
body .section3 .section3-rating .section3-rating3 {
  justify-content: space-between;
  display: flex;
}
body .section3 .section3-rating .section3-rating3 .rating-star {
  display: inline;
  margin: 0px -15px 0px 10px;
  margin-bottom: 20px;
}
body .section3 .section3-rating .section3-rating3 .rating-star .star img {
  margin-top: 15px;
}
body .section3 .section3-rating .section3-rating3 .rating-star p {
  font-size: 22px;
  color: white;
  margin: 15px 0 0 0px;
}
body .section4 {
  padding: 100px 100px 0px;
  justify-content: space-between;
  display: flex;
}
body .section4-leftchild {
  padding: 10px;
  justify-content: left;
  margin-right: 0px;
  width: 60%;
}
body .section4-leftchild .content {
  padding: 0px 0px 20px 0px;
}
body .section4-leftchild .content h2 {
  color: #EEE5FF;
  margin: 0px 65px 10px 0px;
  font-family: "Sora", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}
body .section4-leftchild .content p {
  margin: 10px 0px 0px;
  font-size: 18px;
  font-family: Outfit, sans-serif;
  color: #EEE5FF;
  text-align: left;
}
body .btn {
  font-family: "Sora", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  background-image: linear-gradient(90deg, #5E11FF 30%, #F87516 100%);
  border-radius: 20px;
  padding: 20px 35px;
  pointer-events: auto;
  text-align: left;
  align-items: start;
  display: flex;
}
body .section4-rightchild {
  padding: 10px;
  width: 40%;
}
body .section5 {
  justify-content: center;
  display: flex;
  display: inline;
  padding: 100px 0px 100px 0px;
  height: 1000px;
}
body .section5 h2 {
  color: #EEE5FF;
  margin: 0px 0px 10px;
  font-family: "Sora", Sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 60px;
  font-style: inherit;
  overflow-wrap: break-word;
}
body .section5 .sec5-component {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
body .section5 .apply-section {
  background-color: transparent;
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  border-radius: 20px 20px 20px 20px;
  padding: 30px;
  width: 691.3px;
  height: 630px;
  color: #ffffff;
  margin: 10px 10px 120px;
  margin-top: 50px;
  margin-bottom: 0px;
}
body .section5 .apply-page {
  margin: 80px 10px 10px;
  padding: 30px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  border-radius: 20px 20px 20px 20px;
  width: 691.3px;
  height: 630px;
  color: #ffffff;
}
body .section5 .section-content {
  text-align: left;
}
body .section5 .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}
body .section5 .description {
  font-size: 0.9em;
}
body .section5 .section-img-container {
  margin: 30px 0px 0px 0px;
}
body .section5 .section-img-container img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}
body .section5 .page-img-container {
  margin: 30px 0px 0px 0px;
  vertical-align: middle;
  display: inline-block;
}
body .section5 .page-img-container img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
body .section6 .sec6-container {
  padding: 50px 30px 50px 30px;
  margin: auto;
  font: 16px;
  width: 80%;
  background-color: transparent;
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  border-radius: 20px 20px 20px 20px;
}
body .section6 .sec6-container h2 {
  font-size: 25px;
  font-family: "sona", sans-serif;
}
body .section6 .sec6-container .description p {
  color: rgba(238, 229, 255, 0.7411764706);
  font-size: 18px;
  font-family: "outfit", sans-serif;
}
body .section7 {
  padding: 10px;
  color: #6f6f6f;
  overflow: hidden;
  padding: 100px 0px 100px 0px;
}
body .section7 .sec7-upper-content p {
  color: rgba(238, 229, 255, 0.7411764706);
  font-family: "Outfit", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0px 260px 0px 260px;
}
body .section7 .sec7-lower-content {
  width: 88%;
  height: 446.2px;
  padding: 50px 0px 0px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
body .section7 .sec7-lower-content .card1, body .section7 .sec7-lower-content .card2, body .section7 .sec7-lower-content .card3 {
  background-color: transparent;
  background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
  width: 399.9px;
  border-radius: 20px 20px 20px 20px;
  border-color: rgba(255, 255, 255, 0.062745098);
  margin: 10px 10px 10px 10px;
  align-content: flex-start;
  padding: 13px 18px;
}
body .section7 .sec7-lower-content .card1 img, body .section7 .sec7-lower-content .card2 img, body .section7 .sec7-lower-content .card3 img {
  margin: -20px 0px 20px -40px;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  vertical-align: middle;
  display: inline-block;
  justify-content: left;
}
body .section7 .sec7-lower-content .card1 .card1-ctn h2, body .section7 .sec7-lower-content .card1 .card2-ctn h2, body .section7 .sec7-lower-content .card1 .card3-ctn h2, body .section7 .sec7-lower-content .card2 .card1-ctn h2, body .section7 .sec7-lower-content .card2 .card2-ctn h2, body .section7 .sec7-lower-content .card2 .card3-ctn h2, body .section7 .sec7-lower-content .card3 .card1-ctn h2, body .section7 .sec7-lower-content .card3 .card2-ctn h2, body .section7 .sec7-lower-content .card3 .card3-ctn h2 {
  font-size: 25px;
  margin: 0px 0px 10px;
}
body .section8 {
  background-color: transparent;
  background-image: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
  height: 52.4px;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 0px 0px;
}
body .section8 .footer-left {
  position: relative;
  width: 95%;
  margin: auto;
  min-height: 1px;
  display: flex;
  justify-content: space-between;
}
body .section8 .footer-left p {
  color: #ffffff;
  align-content: center;
  align-items: center;
}
body .section8 .footer-left .footer-right ul {
  display: flex;
  gap: 20px;
}
body .section8 .footer-left .footer-right ul li {
  color: white;
  list-style: none;
}
body .section8 .footer-left .footer-right ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  pointer-events: auto;
}/*# sourceMappingURL=home.css.map */